# Dependencies
node_modules/

# Build output
build/
dist/

# Local env files
.env
.env.local
.env.development.local
.env.production.local
.env.test.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor/IDE folders
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Cache folders
*.cache
.cache/
.eslintcache
.stylelintcache

# Testing output
coverage/

# Temporary files
*.tmp
*.swp

# Misc
.pnp
.pnp.js
