.polia-container {
    background-color: azure;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    width: 100%;
}


.button_pol {
    background-color: #5e44e3;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
    width: 100%;
    height: 60px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.polia_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
    text-align: left;
}

.polia-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 3vh;
}

.polia-title {
    font-size: 2.5em;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 0;
}

.polia-description {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;
}

.polia-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.polia-item {
    background-image: url("/src/Img/fon drosh.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
    padding: 30px 20px;
}

.polia-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.free_test {
    margin-top: 10px;
    background-image: url("/src/Img/fon drosh.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    padding: 30px 20px;
}

.free_test a {
    margin-bottom: 20px;
    width: 100%;
}

.polia-item i {
    font-size: 1.25em;
    margin-bottom: 5px;
}

.polia-item-name {
    font-size: 1em;
    font-weight: 600;
    line-height: 1.5em;
    padding-bottom: 8px;
    text-transform: capitalize;
}

.polia-item-description {
    font-size: 0.9375em;
    font-weight: 400;
    line-height: 1.75em;
    margin-bottom: 0;
}

.polia-right {
    display: flex;
    justify-content: right;
    align-items: center;
    box-sizing: border-box;
}

.polia-right img {
    max-width: 100%;
    height: 550px;
    border-radius: 8px;
}

.polia-item_icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fa-circle-check {
    color: black;
}

@media (max-width: 1024px) {
    .polia_section {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .polia-title {
        font-size: 1.75em;
    }

    .polia-description {
        font-size: 1em;
    }

    .polia-grid {
        grid-template-columns: 1fr;
    }

    .polia-left, .polia-right {
        padding: 10px;
    }

    .polia-right img {
        display: none;
    }
}

@media (max-width: 768px) {
    .polia-title {
        font-size: 1.5em;
        padding: 10px;
        text-align: left;
    }

    .polia-description {
        font-size: 1em;
        text-align: left;
        padding: 10px;
    }

    .polia-grid {
        grid-template-columns: 1fr;
    }

    .polia-left, .polia-right {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .polia-info {
        margin-bottom: 0;
    }

    .polia-title {
        font-size: 1.25em;
    }

    .polia-description {
        font-size: 1em;
    }

    .polia-item {
        padding: 20px 10px;
    }

    .polia-item-name, .polia-item-description {
        font-size: 0.875em;
    }

    .button_pol {
        padding: 8px 16px;
        font-size: 0.875em;
        width: 100%;
    }
}
